ion-grid{
    background-color: #84abaa;
}


.titulo{
    font-size: x-large;
    text-align: center;    
    color: #231b42; 
}

ion-button{
    background-color: #748b83;
    color: white;
    margin: 9% auto auto 20%;
    height: 50px;
    width: 60%;
    font-weight: bold;
    font-size: 114%;
    border-radius: 40px;
}

.listaPrincipal{
    margin-top: 4%;
    background-color: transparent !important;
}


ion-list{
    background-color: transparent !important;
}


ion-card {
    border-radius: 6%;
    padding: 4%;
    background-color: #e6e1cd;
}

ion-card-content{
    align-items: center;
}


ion-accordion-group{
    font-size: large;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-top: 15%;
    border: none;
    background-color: transparent !important;
}

ion-input{
    margin-top: 4%;
    background-color: transparent !important;
}

p{
    position: absolute;
    top: 0;
    left: 0;
    margin-bottom: 2%;
    font-style: italic;
    background-color: transparent;
  }

@media (max-width: 370px) {
    ion-card {
        margin: auto 1%;
    }
}